button {
  margin-bottom: 100px;
}
.square {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  transition: transform 0.7s ease, opacity 1.5s ease;
  &:hover {
    background-color: yellow;
  }
}

.square.active {
  background-color: red;
  transform: translateX(400px);
}

/* .square {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background-color: red;
  animation: moveSquare 1s ease-in-out infinite;
}

@keyframes moveSquare {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(400px);
  }

  100% {
    transform: translateX(0);
  }
} */
